<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
    <%= f.label 'Task'  %><br>
      <%= f.text_field :name  %>
    </p>
    <p>
      <%= f.label :description  %><br>
      <%= f.text_area :description  %>
    </p>
    <ol>
      <%= f.fields_for :steps do |builder|  %>
      <li> <%= builder.label "Step" %><br> </li>
        <%= builder.text_field :name %>
      </p>
      <p>
        <%= builder.label :description  %><br>
        <%= builder.text_area :description, rows: 5  %>
      </p>
      <% end %>
  <div class="actions">
    <p>
      <%= f.submit %>
    </p>
  </div>
  <% end %>
