<ol>
  <h1><%= @task.name  %></h1>
    <% @task.steps.each do |step| %>
    <li>
      <%= step.name  %>
      <p> <%= step.description  %> </p>
        <%= link_to 'Change Task', [:edit, @task, step]  %>
    </li>
    <% end %>

<br>

</ol>
<%= link_to 'New Step', new_task_step_path %>
